*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  line-height: normal;
}

// 1rem = 10px
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
}

ul {
  list-style: none;
}

.btn {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.2;
}

.semi-circle-left,
.semi-circle-right {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
}

.semi-circle-left {
  background: linear-gradient(90deg, $very_dark_mblue 50%, rgba(255, 255, 255, 0) 50%);
  right: 0;
  transform: translateX(50%) translateY(-50%);
}

.semi-circle-right {
  background: linear-gradient(270deg, $very_dark_mblue 50%, rgba(255, 255, 255, 0) 50%);
  position: absolute;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}
