*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  line-height: normal;
}

// 1rem = 10px
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
}

.btn {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.2;
}
